<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%= t('websiteTitle') %> | <%= t('adminPage.title') %></title>
    <link rel="icon" type="image/png" href="/img/logo.png" />
    <%- include('partials/common'); -%>
    <link rel="stylesheet" href="/css/admin.css">
    <% if (tabName === 'users') { %>
        <script src="/js/adminTabs/users.js" defer></script>
        <link rel="stylesheet" href="/css/adminTabs/users.css">
        <% } else if (tabName === 'chats') { %>
    <% } %>
</head>
<body>
    <%- include('partials/header'); -%>
    <main>
        <div class="side-panel">
            <div class="tab-link <%= tabName === 'users' ? 'active' : '' %>">
                <a href="/admin/users"><%= t('adminPage.tabs.users.title') %></a>
            </div>
            <div class="tab-link <%= tabName === 'chats' ? 'active' : '' %>">
                <a href="/admin/chats"><%= t('adminPage.tabs.chats.title') %></a>
            </div>
        </div>
        <div class="tab-content">
            <% if (tabName === 'users') { %>
                <%- include('partials/adminTabs/users'); -%>
            <% } else if (tabName === 'chats') { %>
                <%- include('partials/adminTabs/chats'); -%>
            <% } %>
        </div>
    </main>
</body>
</html>