<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title><%= t('websiteTitle') %> | <%= chat.id === null ? t('chats.defaultTitle') : chat.name %></title>
    <link rel="icon" type="image/png" href="/img/logo.png" />
    <%- include('partials/common'); -%>
    <link rel="stylesheet" href="/css/chats.css">
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/chats.js" defer></script>
</head>

<body>
    <%- include('partials/header'); -%>
    <main>
        <div class="side-panel">
            <div id="chat-list">
                <!-- filled with js -->
            </div>
        </div>
        <div id="main-content">
            <div id="message-container">
                <!-- filled with js -->
            </div>
            <% if (user) { %>
            <div class="msg-textarea-container">
                <textarea id="msg-textarea" maxlength="1024" placeholder="Message <%= chat.name %>"></textarea>
                <button id="msg-send-button">
                    <img src="/img/send.png">
                </button>
            </div>
            <% } %>
        </div>
    </main>
</body>

</html>