<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%= t('websiteTitle') %> | 404</title>
    <link rel="icon" type="image/png" href="/img/logo.png" />
    <%- include('partials/common'); -%>
    <link rel="stylesheet" href="/css/statusPage.css">
</head>
<body>
    <%- include('partials/header'); -%>
    <main>
        <h1><%= title %></h1>
        <h2><%= message %></h2>
        <img src="<%= image %>" alt="Image">
    </main>
</body>
</html>