<header>
    <nav>
        <a href="/"><%= t('nav.home') %></a>
        <% if (!user) { %>
        <a href="/login"><%= t('nav.login') %></a>
        <a href="/register"><%= t('nav.register') %></a>
        <% } else { %>
        <a href="/profile"><%= t('nav.profile') %></a>
        <a href="/logout"><%= t('nav.logout') %></a>
        <% } %>
    </nav>
</header>