<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%= t('websiteTitle') %></title>
    <link rel="icon" type="image/png" href="img/logo.png" />
    <%- include('partials/main'); -%>
    <link rel="stylesheet" href="css/home.css">
</head>
<body>
    <%- include('partials/header'); -%>
    <main>
        <h1>OpenChats</h1>
        <p><%= t('welcome') %></p>
        <% if (user) { %>
        <img src="<%= user.avatarUrl || 'img/defaultAvatar.png' %>" alt="User avatar" width="70" height="70">
        <% } %>
    </main>
</body>
</html>