<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%= t('websiteTitle') %></title>
    <link rel="icon" type="image/png" href="img/logo.png" />
    <%- include('partials/common'); -%>
    <link rel="stylesheet" href="css/home.css">
</head>
<body>
    <%- include('partials/header'); -%>
    <main>
        <h1><%= t('home.welcome', {
            websiteTitle: t('websiteTitle')
        }) %></h1>
        <h2><%= t('home.description') %></h2>
        <div class="features">
            <img src="/img/shikonoko.gif" alt="Shikonoko">
            <div class="feature-list">
                <p><%= t('home.features.title') %></p>
                <ul>
                    <li><%= t('home.features.multipleChats') %></li>
                    <li><%= t('home.features.realTimeMessaging') %></li>
                    <li><%= t('home.features.customAvatars') %></li>
                    <li><%= t('home.features.customUserLabels') %></li>
                </ul>
            </div>
        </div>
    </main>
</body>
</html>