<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%= t('websiteTitle') %> | <%= t('loginPage.title') %></title>
    <link rel="icon" type="image/png" href="img/logo.png" />
    <%- include('partials/main'); -%>
    <link rel="stylesheet" href="css/form.css">
    <script src="js/login.js" defer></script>
</head>
<body>
    <%- include('partials/header'); -%>
    <main>
        <h1><%= t('loginPage.title') %></h1>
        <form id="login-form">
            <label><%= t('forms.usernameLabel') %><input type="text" id="username-input" name="username" minlength="5" maxlength="30" required /></label>
            <label><%= t('forms.passwordLabel') %><input type="password" id="password-input" name="password" minlength="5" maxlength="50" required /></label>
            <p class="error" id="error"></p>
            <input type="submit" value="<%= t('forms.loginButton') %>">
        </form>
        <img src="img/felixLogin.gif" width="200" height="200" alt="Felix">
    </main>
</body>
</html>