<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Chats | <%= t('login.title') %></title>
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/form.css">
    <script src="js/login.js" defer></script>
</head>
<body>
    <%- include('header'); -%>
    <main>
        <h1><%= t('login.title') %></h1>
        <h1><%= t('login.bebra') %></h1>
        <form id="login-form">
            <label><%= t('login.login') %><input type="text" id="username-input" name="username" minlength="5" maxlength="30" required /></label>
            <label><%= t('login.password') %><input type="password" id="password-input" name="password" minlength="5" maxlength="50" required /></label>
            <p class="error" id="error"></p>
            <input type="submit" value="<%= t('login.loginButton') %>">
        </form>
        <img src="img/felixLogin.gif" width="200" height="200" alt="Felix">
    </main>
</body>
</html>