<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Chats | <%= t('profile.title') %></title>
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/home.css">
    <script src="js/main.js" defer></script>
    <script src="js/profile.js" defer></script>
</head>

<body>
    <%- include('header'); -%>
        <main>
            <img src="<%= user.avatarUrl || 'img/defaultAvatar.png' %>" id="avatar" alt="User avatar" width="70" height="70">
            <p><%= t('profile.username') %><%= user.username %>
            </p>
            <form id="avatar-form">
                <input type="file" id="file-input" name="avatar" accept="image/*" />
                <p class="error" id="error"></p>
                <button type="submit"><%= t('profile.uploadAvatarButton') %></button>
            </form>
        </main>
</body>

</html>