<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%= t('websiteTitle') %> | <%= t('profile.title') %></title>
    <link rel="icon" type="image/png" href="/img/logo.png" />
    <%- include('partials/common'); -%>
    <link rel="stylesheet" href="/css/profile.css">
    <script src="/js/profile.js" defer></script>
</head>
<body>
    <%- include('partials/header'); -%>
        <main>
            <div class="profile">
                <h2><%= t('profile.userProfile') %></h2>
                <div class="avatar-container">
                    <img src="<%= user.avatarUrl %>" id="avatar" alt="User avatar" width="100" height="100">
                    <div class="avatar-btns">
                        <label class="btn" for="avatar-file-input" id="upload-avatar-label"><%= t('profile.uploadAvatarButton') %></label>
                        <button class="btn" id="delete-avatar-btn">Delete avatar</button>
                        <input type="file" id="avatar-file-input" name="avatar" accept="image/*" />
                    </div>
                </div>
                <p class="error" id="avatar-error"></p>
                <div class="user-info">
                    <p><%= t('profile.username') %><span id="username"><%= user.username %></span></p>
                    <p><%= t('profile.role') %><span><%= user.role %></span></p>
                    <div class="user-info-btns">
                        <!-- TODO: Add functionality -->
                        <button class="btn" id="edit-username-btn">Edit username</button>
                        <button class="btn" id="change-password-btn">Change password</button>
                    </div>
                </div>
                <!-- TODO: Add user-info-error -->
            </div>
            <div class="modal" id="username-modal">
                <div class="modal-content">
                    <button class="close-btn" id="username-modal-close"><img src="/img/close.png" alt="Close"></button>
                    <h2>Edit username</h2>
                    <form id="edit-username-form">
                        <label><%= t('forms.usernameLabel') %><input type="text" id="username-input" name="username" minlength="4" maxlength="30" required /></label>
                        <p class="error" id="username-error"></p>
                        <button type="submit">Save</button>
                    </form>
                </div>
            </div>
        </main>
</body>
</html>