<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>OpenChats | <%= t('registerPage.title') %></title>
    <link rel="icon" type="image/png" href="img/logo.png" />
    <%- include('partials/main'); -%>
    <link rel="stylesheet" href="css/form.css">
    <script src="js/register.js" defer></script>
</head>
<body>
    <%- include('partials/header'); -%>
    <main>
        <h1><%= t('registerPage.title') %></h1>
        <form id="register-form">
            <label><%= t('forms.usernameLabel') %><input type="text" name="username" id="username-input" minlength="5" maxlength="30" required /></label>
            <label><%= t('forms.passwordLabel') %><input type="password" name="password" id="password-input" minlength="5" maxlength="50" required /></label>
            <label><%= t('forms.repeatPasswordLabel') %><input type="password" id="repeat-password-input" name="repeat-password" minlength="5" maxlength="50" required /></label>
            <p class="error" id="error"></p>
            <input type="submit" value="<%= t('forms.registerButton') %>">
        </form>
        <img src="img/astolfoRegister.gif" width="200" height="200" alt="Astolfo">
    </main>
</body>
</html>